# Core Data Handling and Numerical Operations
pandas
numpy

# Machine Learning Core
scikit-learn

# Model Serialization
joblib>=1.3.0

# Visualization Libraries (For F9, F10: Heatmap, ROC, Confusion Matrix)
matplotlib
seaborn

# Local UI/Web Framework (If using Flask for the local server)
Flask
markdown

# Statistical utilities (For Q-Q Plots)
scipy
optuna

# Explainability
shap